body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;

  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;

  background-color: "#FF5D9";
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

.heading {
  cursor: pointer;
}

.accordian {
  padding: 10px;
  margin: 60px;
  background-color: white;
}

.question {
  background-color: white;
}

.clicked {
  color: #146ef6;
}
