body {
  background-color: rgb(232, 227, 227);
  margin: auto 500px;
  width: 500px;
  /* padding: 2px; */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.app {
  background-color: white;
  border-radius: 10px;
}

.app h1 {
  color: green;
  text-align: center;
  
}

.form {
  margin-left: 2rem;
  padding: 1rem;
  height: 50%;
}
input {
  margin: 0.5rem;
}
.resetBtn button {
  margin-top: 1rem;
  border-radius: 7px;
  display: flex;
  padding: 0.5rem;
  background-color: green;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
