body {
  background-color: rgb(232, 227, 227);
  margin: auto 500px;
  width: 500px;
  /* padding: 2px; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.app {
  background-color: white;
  border-radius: 10px;
}

.app h1 {
  color: rgb(13, 240, 13);
  text-align: center;
}

.form {
  margin-left: 2rem;
  padding: 1rem;
  height: 50%;
}
input {
  margin: 0.5rem;
}
.resetBtn button {
  font-family: Arial, Helvetica, sans-serif;
  border: transparent;
  margin-top: 1rem;
  border-radius: 7px;
  width: 10rem;
  padding: 0.5rem;
  background-color: rgb(53, 222, 53);
  color: black;
}

.resetBtn {
  /* width: 70%; */
  display: flex;
  justify-content: space-between;
}
